*~
*.pdf
*.mid
*.ps
*#

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
/10thRegMarch/*.log
.DS_Store
*.midi
Nimrod/Nimrod.ly
Nimrod/NimrodClar1.ly
